<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PokeVerse</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    <div class="logoContainer">
      <img src="https://sciencefictionbulletin.files.wordpress.com/2021/07/pokemon-logo.png" style="margin:0 auto;display:block;" height="150px" width="50%" alt="">
      <div>
        <form class="" action="" method="get"  >
          <input id="searchBar"  type="text" name="q" value="" placeholder="Search Your Pokemon Data"> <br>
          <input id="searchBtn"  type="submit" name="" value="Search" >
        </form>
      </div>
    </div>
    {% block body%} {%endblock%}
  </body>
</html>
